In [92]:
import os
from flask import Flask, request, jsonify
import requests
import json
import base64
#from cfenv import AppEnv
import pyhdb
import pulp
#import xlrd
import numpy as np
import math
from math import isnan
import json
import pandas as pd
import time
import copy

In [4]:
f = open("New Test Data.txt",encoding = "utf-8-sig")
line = f.readlines()
f.close()
responseText = line[0]

In [5]:
try:
    if responseText.startswith(u'\ufeff'):
        responseText = responseText.encode('utf8')[3:].decode('utf8') 
    data = json.loads(responseText,encoding = "UTF-8")
except:
    if responseText.startswith(u'\ufeff'):
        responseText = responseText.encode('utf8')[3:].decode('utf8') 
    data = responseText

In [6]:
def get_connection():
    conn = pyhdb.connect(host = "10.47.84.196", #HANA地址
                         port = 30015, #HANA端口号
                         user = "I322907", #用户名
                         password = "Sap12345") #密码
    return conn


def get_efficiency(conn): #有可能用worker output那张表来解决
    cursor = conn.cursor()
    cursor.execute('Select "WORKER_ID", "PROJECT_ID","PRODUCT_ID","OUTPUT_DATE", "OUTPUT" from ( Select A.*,row_number()over(partition by A.WORKER_ID,A.PRODUCT_ID order by  A.OUTPUT_DATE DESC) as RID from "IFACTORY"."IFactory.Data::table.WORKER_OUTPUT_V" A    where A."WORKER_ID" in (select "WORKER_ID" from "IFACTORY"."IFactory.Data::table.WORKER_DETAIL")   ) where RID < \'21\' and "OUTPUT"> \'0\'',{})
    mat = cursor.fetchall()
    mat = pd.DataFrame(mat)#从数据库中存储efficiency，做成df是为了方便管理
    try:
        cursor.close()
    except:
        pass
    return mat


def get_order(conn):
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM "IFACTORY"."IFactory.Data::table.ORDER_PLAN_TEMP_V";',{})
    mat = cursor.fetchall()
    mat = pd.DataFrame(mat)#存储order信息，同上
    try:
        cursor.close()
    except:
        pass
    return mat


def get_procedure(conn):
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM "IFACTORY"."IFactory.Data::table.PROJECT_PRODUCT_NV";',{})
    mat = cursor.fetchall()
    mat = pd.DataFrame(mat)#存储order信息，同上
    try:
        cursor.close()
    except:
        pass
    return mat

In [7]:
conn = get_connection()
efficiency = get_efficiency(conn)

In [115]:
data

{'output': [{'WORKER_ID': '100002',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500004',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '74.25'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '508.27'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '375.68'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '324.59'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '264.4'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400008',
   'PRODUCT_ID': '500017',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '365.08'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500020',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500021',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500022',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '174.4'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500024',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '108'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500025',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '108'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500027',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500032',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '280'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '325.27'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '451.31'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500042',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '60'},
  {'WORKER_ID': '100002',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500043',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '60'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400002',
   'PRODUCT_ID': '500002',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '354.19'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500004',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '57.66'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '411.12'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500008',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '189.6'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500013',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '184.71'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '260.57'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500025',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '108'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400013',
   'PRODUCT_ID': '500026',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '84.2'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500027',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500031',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500032',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '250'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500033',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '150'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '282.38'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '308.25'},
  {'WORKER_ID': '100003',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500042',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '60'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400002',
   'PRODUCT_ID': '500002',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '935.9'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '80.45'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '407.48'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '598.87'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500008',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500009',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '418.87'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '250'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400008',
   'PRODUCT_ID': '500017',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '256.69'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500025',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '144'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500028',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500032',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '398.7'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '506.62'},
  {'WORKER_ID': '100004',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500042',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '80'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400002',
   'PRODUCT_ID': '500002',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '841.52'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '95.41'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '464.11'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500008',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500011',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '1600'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500013',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '256'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '250'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400008',
   'PRODUCT_ID': '500017',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '165.02'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500024',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '144'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400013',
   'PRODUCT_ID': '500026',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '69.44'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500028',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '396.28'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500032',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500034',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '432.72'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100005',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500043',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '80'},
  {'WORKER_ID': '100006',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100006',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100006',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500004',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '67.58'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '426'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '254.64'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500008',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500009',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '508.8'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '305.94'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500013',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '293.48'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '246.98'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500020',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500021',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500025',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '108'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500027',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500028',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '260.68'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500031',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '60'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500033',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '150'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '285.64'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '278.68'},
  {'WORKER_ID': '100007',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500042',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '60'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500004',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '460.62'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '420.08'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '340.95'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '207.8'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500027',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400002',
   'PRODUCT_ID': '500002',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '352.68'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500004',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '34.73'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '364.13'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '342.65'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500011',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '1600'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '342'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500013',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '104.53'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '260.81'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400008',
   'PRODUCT_ID': '500017',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100.5'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500020',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500021',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500025',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '90'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400013',
   'PRODUCT_ID': '500026',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '36.8'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500027',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500028',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500031',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '60'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500033',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '100'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '221.8'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '226.2'},
  {'WORKER_ID': '100009',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '156.86'},
  {'WORKER_ID': '100008',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500042',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '50'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400002',
   'PRODUCT_ID': '500002',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '1029.17'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '67.92'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '500'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '541.29'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400005',
   'PRODUCT_ID': '500008',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '247.5'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500011',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '1800'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500012',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '600'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400006',
   'PRODUCT_ID': '500013',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '645.25'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '562.93'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500024',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '216'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500025',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '360'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400013',
   'PRODUCT_ID': '500026',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '170.75'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500028',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '486.33'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400015',
   'PRODUCT_ID': '500029',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '432'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400016',
   'PRODUCT_ID': '500031',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '120'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '607.52'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '696'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500004',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '400'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '487.1'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500007',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '467.67'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500016',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '236.18'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400010',
   'PRODUCT_ID': '500020',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400014',
   'PRODUCT_ID': '500027',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '300'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400017',
   'PRODUCT_ID': '500036',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '395.07'},
  {'WORKER_ID': '100012',
   'PROJECT_ID': '400007',
   'PRODUCT_ID': '500037',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '630.56'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500042',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '200'},
  {'WORKER_ID': '100010',
   'PROJECT_ID': '400012',
   'PRODUCT_ID': '500043',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '120'},
  {'WORKER_ID': '100011',
   'PROJECT_ID': '400002',
   'PRODUCT_ID': '500002',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '945.3'},
  {'WORKER_ID': '100011',
   'PROJECT_ID': '400003',
   'PRODUCT_ID': '500005',
   'OUTPUT_DATE': '0000-00-00',
   'OUTPUT': '101'},
  {'WORKER_ID': '100011',
   'PROJECT_ID': '400004',
   'PRODUCT_ID': '500006',
   'OUTPUT_DATE': '0000-00-00',

In [116]:
# efficiency = pd.DataFrame(data["output"])

In [97]:
efficiency

          0       1       2           3       4
0    100002  400003  500004  0000-00-00     400
1    100002  400003  500005  0000-00-00   74.25
2    100002  400004  500006  0000-00-00  508.27
3    100002  400004  500007  0000-00-00  375.68
4    100002  400006  500012  0000-00-00  324.59
..      ...     ...     ...         ...     ...
358  100025  400012  500024  0000-00-00     180
359  100025  400013  500026  0000-00-00   140.1
360  100025  400017  500036  0000-00-00     400
361  100025  400007  500037  0000-00-00     400
362  100025  400012  500043  0000-00-00     100

[363 rows x 5 columns]

In [118]:
# order = pd.DataFrame(data["plan"])

In [8]:
eff = pd.DataFrame(efficiency,index = list(map(int,np.linspace(0,len(efficiency),len(efficiency),endpoint = False).tolist())))

In [9]:
eff

          0       1       2           3       4
0    100002  400003  500004  0000-00-00     400
1    100002  400003  500005  0000-00-00   74.25
2    100002  400004  500006  0000-00-00  508.27
3    100002  400004  500007  0000-00-00  375.68
4    100002  400006  500012  0000-00-00  324.59
..      ...     ...     ...         ...     ...
358  100025  400012  500024  0000-00-00     180
359  100025  400013  500026  0000-00-00   140.1
360  100025  400017  500036  0000-00-00     400
361  100025  400007  500037  0000-00-00     400
362  100025  400012  500043  0000-00-00     100

[363 rows x 5 columns]

In [120]:
#eff.columns = ["output","date","product_id","project_id","worker_id"]

In [10]:
eff.columns = ['worker_id', 'project_id', 'product_id', 'date', 'output']

In [11]:
eff

    worker_id project_id product_id        date  output
0      100002     400003     500004  0000-00-00     400
1      100002     400003     500005  0000-00-00   74.25
2      100002     400004     500006  0000-00-00  508.27
3      100002     400004     500007  0000-00-00  375.68
4      100002     400006     500012  0000-00-00  324.59
..        ...        ...        ...         ...     ...
358    100025     400012     500024  0000-00-00     180
359    100025     400013     500026  0000-00-00   140.1
360    100025     400017     500036  0000-00-00     400
361    100025     400007     500037  0000-00-00     400
362    100025     400012     500043  0000-00-00     100

[363 rows x 5 columns]

In [12]:
order = get_order(conn)

In [13]:
order

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,800065,400004,舍弗勒,500006,舍弗勒塑料球子,16000,2019-09-22,0,12800,13,2019-09-05 17:53:14,2019-09-05 17:53:14,YES
1,800059,400005,安全阀,500010,检查,24000,2020-02-04,3725,16220,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO
2,800058,400006,金属片,500013,手动成形,39000,2019-12-16,0,31200,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
3,800065,400004,舍弗勒,500007,舍弗勒金属球子,16000,2019-09-22,2000,11200,13,2019-09-05 17:53:14,2019-09-05 17:53:14,YES
4,800058,400006,金属片,500011,剪切金属片,39000,2019-12-16,5000,27200,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
5,800059,400005,安全阀,500008,预放组件,24000,2020-02-04,4125,15900,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO
6,800058,400006,金属片,500012,压机成形,39000,2019-12-16,4887,27290,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
7,800059,400005,安全阀,500009,推安全阀,24000,2020-02-04,4225,15820,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO

In [14]:
order.index = list(map(int,np.linspace(0,len(order),len(order),endpoint = False).tolist()))

In [15]:
if (len(order.columns) == 12):
        #order.columns = ["change_date","create_date","days","delivery_date","delivery_quan","order_id","product_id","product_name","project_id","project_name","quantity","total_output"]
        order.columns = ['order_id', 'project_id', 'project_name', 'product_id', 'product_name', 'delivery_quantity', 'delivery_date', 'total_output', 'quantity', 'days', 'create_date', 'change_date']
elif (len(order.columns) == 13):
        #order.columns = ["change_date","checked","create_date","days","delivery_date","delivery_quan","order_id","product_id","product_name","project_id","project_name","quantity","total_output"]
        order.columns = ['order_id', 'project_id', 'project_name', 'product_id', 'product_name', 'delivery_quantity', 'delivery_date', 'total_output', 'quantity', 'days', 'create_date', 'change_date', 'checked']
else:
        pass
order = order.dropna(axis = 0, how = "any") #防止出现df中有nan

In [16]:
for i in range(0,len(order["days"])):
        if int(order["days"][i]) <= 0:
            order["days"][i] = 1
        else:
            pass

In [17]:
order

,order_id,project_id,project_name,product_id,product_name,delivery_quantity,delivery_date,total_output,quantity,days,create_date,change_date,checked
0,800065,400004,舍弗勒,500006,舍弗勒塑料球子,16000,2019-09-22,0,12800,13,2019-09-05 17:53:14,2019-09-05 17:53:14,YES
1,800059,400005,安全阀,500010,检查,24000,2020-02-04,3725,16220,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO
2,800058,400006,金属片,500013,手动成形,39000,2019-12-16,0,31200,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
3,800065,400004,舍弗勒,500007,舍弗勒金属球子,16000,2019-09-22,2000,11200,13,2019-09-05 17:53:14,2019-09-05 17:53:14,YES
4,800058,400006,金属片,500011,剪切金属片,39000,2019-12-16,5000,27200,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
5,800059,400005,安全阀,500008,预放组件,24000,2020-02-04,4125,15900,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO
6,800058,400006,金属片,500012,压机成形,39000,2019-12-16,4887,27290,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
7,800059,400005,安全阀,500009,推安全阀,24000,2020-02-04,4225,15820,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO

In [18]:
m_num = len(eff["worker_id"].drop_duplicates(keep = "first"))

In [19]:
m_num

24

In [20]:
n_num = len(order["product_id"].drop_duplicates(keep = "first"))

In [21]:
n_num

8

In [22]:
s_num = 4

In [23]:
worker = sorted(eff["worker_id"].drop_duplicates(keep = "first"))

In [24]:
worker

['100002',
 '100003',
 '100004',
 '100005',
 '100006',
 '100007',
 '100008',
 '100009',
 '100010',
 '100011',
 '100012',
 '100013',
 '100014',
 '100015',
 '100016',
 '100017',
 '100018',
 '100019',
 '100020',
 '100021',
 '100022',
 '100023',
 '100024',
 '100025']

In [25]:
product = sorted(order["product_id"].drop_duplicates(keep = "first"))

In [26]:
product

['500006',
 '500007',
 '500008',
 '500009',
 '500010',
 '500011',
 '500012',
 '500013']

In [27]:
worker_efficiency = np.zeros([m_num,n_num],dtype = np.float)

In [28]:
for i in range(m_num):
        for j in range(n_num):
            worker_i = eff[eff["worker_id"] == worker[i]]
            mean = np.mean(list(map(float,worker_i[worker_i["product_id"] == product[j]]["output"].tolist())))
            worker_efficiency[i][j] = mean

c:\users\i515013\appdata\local\programs\python\python36\lib\site-packages\numpy\core\fromnumeric.py:3257: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
c:\users\i515013\appdata\local\programs\python\python36\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [29]:
for i in range(m_num):
        for j in range(n_num):
            if isnan(worker_efficiency[i,j]) == True:
                worker_efficiency[i,j] = 0
            else:
                pass

In [30]:
worker_efficiency

array([[ 508.27,  375.68,    0.  ,    0.  ,    0.  ,    0.  ,  324.59,
           0.  ],
       [ 300.  ,  411.12,  200.  ,    0.  ,    0.  ,    0.  ,  189.6 ,
         184.71],
       [ 407.48,  598.87,  300.  ,  418.87,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 464.11,  400.  ,  300.  ,    0.  ,    0.  , 1600.  ,  400.  ,
         256.  ],
       [ 400.  ,  400.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 426.  ,  254.64,  200.  ,  508.8 ,    0.  ,    0.  ,  305.94,
         293.48],
       [ 364.13,  342.65,    0.  ,    0.  ,    0.  , 1600.  ,  342.  ,
         104.53],
       [ 460.62,  420.08,    0.  ,    0.  ,    0.  ,    0.  ,  340.95,
           0.  ],
       [ 500.  ,  541.29,  247.5 ,    0.  ,    0.  , 1800.  ,  600.  ,
         645.25],
       [ 500.  ,  624.15,  250.  ,    0.  ,  398.87,    0.  ,  600.  ,
         283.63],
       [ 487.1 ,  467.67,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 420.78,  382.04,  200.  ,    0.  ,    0.  ,    0.  ,  371.4 ,
           0.  ],
       [ 568.12,  518.66,  200.  ,  412.02,  318.1 ,    0.  ,  400.  ,
         195.46],
       [ 600.  ,  600.  ,  300.  ,    0.  ,  338.36, 1800.  ,  584.5 ,
         515.37],
       [ 463.97,  405.92,    0.  ,    0.  ,    0.  ,    0.  ,  356.65,
           0.  ],
       [ 702.76,  850.3 ,    0.  ,    0.  ,    0.  ,    0.  ,  785.61,
           0.  ],
       [ 645.6 ,  400.  ,  200.  ,    0.  ,    0.  , 1500.  ,  500.  ,
         319.47],
       [ 600.  ,  500.  ,  250.  ,    0.  ,    0.  , 1800.  ,  310.06,
         359.88],
       [ 500.  ,  648.45,  286.59,    0.  ,  222.9 ,    0.  ,  500.  ,
         167.07],
       [ 230.11,  292.07,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 492.11,  426.2 ,  200.  ,    0.  ,    0.  , 1600.  ,  333.37,
         892.5 ],
       [   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 512.1 ,  555.15,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
         189.46],
       [ 500.  ,  500.  ,    0.  ,    0.  ,    0.  ,    0.  ,  576.68,
           0.  ]])

In [31]:
qualified_worker = []

In [32]:
for i in range(m_num):
        if sum(worker_efficiency[i,:] == 0) < n_num:
            qualified_worker.append(i)

In [33]:
qualified_worker

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 23]

In [34]:
worker_new = []

In [35]:
for i in qualified_worker:
        worker_new.append(worker[i])

In [36]:
worker_new

['100002',
 '100003',
 '100004',
 '100005',
 '100006',
 '100007',
 '100008',
 '100009',
 '100010',
 '100011',
 '100012',
 '100013',
 '100014',
 '100015',
 '100016',
 '100017',
 '100018',
 '100019',
 '100020',
 '100021',
 '100022',
 '100024',
 '100025']

In [37]:
worker_efficiency_new = worker_efficiency[qualified_worker,:]

In [38]:
worker_efficiency_new

array([[ 508.27,  375.68,    0.  ,    0.  ,    0.  ,    0.  ,  324.59,
           0.  ],
       [ 300.  ,  411.12,  200.  ,    0.  ,    0.  ,    0.  ,  189.6 ,
         184.71],
       [ 407.48,  598.87,  300.  ,  418.87,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 464.11,  400.  ,  300.  ,    0.  ,    0.  , 1600.  ,  400.  ,
         256.  ],
       [ 400.  ,  400.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 426.  ,  254.64,  200.  ,  508.8 ,    0.  ,    0.  ,  305.94,
         293.48],
       [ 364.13,  342.65,    0.  ,    0.  ,    0.  , 1600.  ,  342.  ,
         104.53],
       [ 460.62,  420.08,    0.  ,    0.  ,    0.  ,    0.  ,  340.95,
           0.  ],
       [ 500.  ,  541.29,  247.5 ,    0.  ,    0.  , 1800.  ,  600.  ,
         645.25],
       [ 500.  ,  624.15,  250.  ,    0.  ,  398.87,    0.  ,  600.  ,
         283.63],
       [ 487.1 ,  467.67,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 420.78,  382.04,  200.  ,    0.  ,    0.  ,    0.  ,  371.4 ,
           0.  ],
       [ 568.12,  518.66,  200.  ,  412.02,  318.1 ,    0.  ,  400.  ,
         195.46],
       [ 600.  ,  600.  ,  300.  ,    0.  ,  338.36, 1800.  ,  584.5 ,
         515.37],
       [ 463.97,  405.92,    0.  ,    0.  ,    0.  ,    0.  ,  356.65,
           0.  ],
       [ 702.76,  850.3 ,    0.  ,    0.  ,    0.  ,    0.  ,  785.61,
           0.  ],
       [ 645.6 ,  400.  ,  200.  ,    0.  ,    0.  , 1500.  ,  500.  ,
         319.47],
       [ 600.  ,  500.  ,  250.  ,    0.  ,    0.  , 1800.  ,  310.06,
         359.88],
       [ 500.  ,  648.45,  286.59,    0.  ,  222.9 ,    0.  ,  500.  ,
         167.07],
       [ 230.11,  292.07,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 492.11,  426.2 ,  200.  ,    0.  ,    0.  , 1600.  ,  333.37,
         892.5 ],
       [ 512.1 ,  555.15,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
         189.46],
       [ 500.  ,  500.  ,    0.  ,    0.  ,    0.  ,    0.  ,  576.68,
           0.  ]])

In [39]:
m_num_new = len(worker_new)

In [40]:
m_num_new

23

In [41]:
# procedure = pd.DataFrame(data["pp"])

In [42]:
procedure = get_procedure(conn)

In [43]:
procedure.columns = ["product_id","project_id","step","limit"]

In [44]:
procedure

   product_id project_id step limit
0      500004     400003    1     5
1      500036     400017    1     5
2      500035     400016    5     5
3      500006     400004    1     5
4      500016     400007    1     5
5      500024     400012    1     5
6      500011     400006    1     5
7      500026     400013    1     5
8      500005     400003    2     5
9      500038     400018    1     5
10     500031     400016    1     5
11     500028     400014    2     5
12     500020     400010    1     5
13     500012     400006    2     5
14     500023     400011    1     5
15     500013     400006    3     5
16     500039     400019    1     5
17     500008     400005    1     5
18     500003     400002    2     5
19     500002     400002    1     5
20     500043     400012    1     5
21     500037     400007    2     5
22     500021     400010    2     5
23     500022     400010    3     5
24     500029     400015    1     5
25     500032     400016    2     5
26     500033     400016    3     5
27     500034     400016    4     5
28     500027     400014    1     5
29     500040     400020    1     5
30     500009     400005    2     5
31     500010     400005    3     5
32     500041     400020    2     5
33     500042     400012    2     5
34     500007     400004    1     5
35     500025     400012    2     5
36     500017     400008    1     5
37     500018     400009    1     5

In [45]:
project = order["project_id"].drop_duplicates(keep = "first")

In [46]:
print(project)

0    400004
1    400005
2    400006
Name: project_id, dtype: object

In [110]:
team = pd.DataFrame(data["team"])

In [111]:
team

  TEAM_ID               MEMBERS            PRODUCT_ID PROJECT_ID OUTPUT
0  200001  100004,100007,100011  500008,500009,500010     400005   1200

In [112]:
team = pd.DataFrame(team,index = list(map(int,np.linspace(0,len(team),len(team),endpoint = False).tolist())))

In [113]:
team.columns = ["team_id","member","product_id","project_id","output"]

In [120]:
team_mem = []
team_pro = []
for index, row in team.iterrows():
    row['member'] = row['member'].split(',')
    team_mem += row['member']
    row['product_id'] = row['product_id'].split(',')
    team_pro += row['product_id']

In [52]:
team_mem

['100004', '100007', '100011']

In [53]:
team_pro

['500008', '500009', '500010']

In [54]:
t_num = len(team["team_id"].drop_duplicates(keep = "first"))

In [55]:
t_num

1

In [184]:
variables = np.array([pulp.LpVariable('x%d_%d_%d'%(i,j,k), lowBound = 0, upBound = 1,cat = pulp.LpInteger) 
    for i in range(0, m_num) for j in range(0, s_num)  for k in range(0,n_num)])

In [185]:
variables

array([x0_0_0, x0_0_1, x0_0_2, x0_0_3, x0_0_4, x0_0_5, x0_0_6, x0_0_7,
       x0_0_8, x0_0_9, x0_1_0, x0_1_1, x0_1_2, x0_1_3, x0_1_4, x0_1_5,
       x0_1_6, x0_1_7, x0_1_8, x0_1_9, x0_2_0, x0_2_1, x0_2_2, x0_2_3,
       x0_2_4, x0_2_5, x0_2_6, x0_2_7, x0_2_8, x0_2_9, x0_3_0, x0_3_1,
       x0_3_2, x0_3_3, x0_3_4, x0_3_5, x0_3_6, x0_3_7, x0_3_8, x0_3_9,
       x1_0_0, x1_0_1, x1_0_2, x1_0_3, x1_0_4, x1_0_5, x1_0_6, x1_0_7,
       x1_0_8, x1_0_9, x1_1_0, x1_1_1, x1_1_2, x1_1_3, x1_1_4, x1_1_5,
       x1_1_6, x1_1_7, x1_1_8, x1_1_9, x1_2_0, x1_2_1, x1_2_2, x1_2_3,
       x1_2_4, x1_2_5, x1_2_6, x1_2_7, x1_2_8, x1_2_9, x1_3_0, x1_3_1,
       x1_3_2, x1_3_3, x1_3_4, x1_3_5, x1_3_6, x1_3_7, x1_3_8, x1_3_9,
       x2_0_0, x2_0_1, x2_0_2, x2_0_3, x2_0_4, x2_0_5, x2_0_6, x2_0_7,
       x2_0_8, x2_0_9, x2_1_0, x2_1_1, x2_1_2, x2_1_3, x2_1_4, x2_1_5,
       x2_1_6, x2_1_7, x2_1_8, x2_1_9, x2_2_0, x2_2_1, x2_2_2, x2_2_3,
       x2_2_4, x2_2_5, x2_2_6, x2_2_7, x2_2_8, x2_2_9, x2_3_0, x2_3_1,
       x2_3_2, x2_3_3, x2_3_4, x2_3_5, x2_3_6, x2_3_7, x2_3_8, x2_3_9,
       x3_0_0, x3_0_1, x3_0_2, x3_0_3, x3_0_4, x3_0_5, x3_0_6, x3_0_7,
       x3_0_8, x3_0_9, x3_1_0, x3_1_1, x3_1_2, x3_1_3, x3_1_4, x3_1_5,
       x3_1_6, x3_1_7, x3_1_8, x3_1_9, x3_2_0, x3_2_1, x3_2_2, x3_2_3,
       x3_2_4, x3_2_5, x3_2_6, x3_2_7, x3_2_8, x3_2_9, x3_3_0, x3_3_1,
       x3_3_2, x3_3_3, x3_3_4, x3_3_5, x3_3_6, x3_3_7, x3_3_8, x3_3_9,
       x4_0_0, x4_0_1, x4_0_2, x4_0_3, x4_0_4, x4_0_5, x4_0_6, x4_0_7,
       x4_0_8, x4_0_9, x4_1_0, x4_1_1, x4_1_2, x4_1_3, x4_1_4, x4_1_5,
       x4_1_6, x4_1_7, x4_1_8, x4_1_9, x4_2_0, x4_2_1, x4_2_2, x4_2_3,
       x4_2_4, x4_2_5, x4_2_6, x4_2_7, x4_2_8, x4_2_9, x4_3_0, x4_3_1,
       x4_3_2, x4_3_3, x4_3_4, x4_3_5, x4_3_6, x4_3_7, x4_3_8, x4_3_9,
       x5_0_0, x5_0_1, x5_0_2, x5_0_3, x5_0_4, x5_0_5, x5_0_6, x5_0_7,
       x5_0_8, x5_0_9, x5_1_0, x5_1_1, x5_1_2, x5_1_3, x5_1_4, x5_1_5,
       x5_1_6, x5_1_7, x5_1_8, x5_1_9, x5_2_0, x5_2_1, x5_2_2, x5_2_3,
       x5_2_4, x5_2_5, x5_2_6, x5_2_7, x5_2_8, x5_2_9, x5_3_0, x5_3_1,
       x5_3_2, x5_3_3, x5_3_4, x5_3_5, x5_3_6, x5_3_7, x5_3_8, x5_3_9,
       x6_0_0, x6_0_1, x6_0_2, x6_0_3, x6_0_4, x6_0_5, x6_0_6, x6_0_7,
       x6_0_8, x6_0_9, x6_1_0, x6_1_1, x6_1_2, x6_1_3, x6_1_4, x6_1_5,
       x6_1_6, x6_1_7, x6_1_8, x6_1_9, x6_2_0, x6_2_1, x6_2_2, x6_2_3,
       x6_2_4, x6_2_5, x6_2_6, x6_2_7, x6_2_8, x6_2_9, x6_3_0, x6_3_1,
       x6_3_2, x6_3_3, x6_3_4, x6_3_5, x6_3_6, x6_3_7, x6_3_8, x6_3_9,
       x7_0_0, x7_0_1, x7_0_2, x7_0_3, x7_0_4, x7_0_5, x7_0_6, x7_0_7,
       x7_0_8, x7_0_9, x7_1_0, x7_1_1, x7_1_2, x7_1_3, x7_1_4, x7_1_5,
       x7_1_6, x7_1_7, x7_1_8, x7_1_9, x7_2_0, x7_2_1, x7_2_2, x7_2_3,
       x7_2_4, x7_2_5, x7_2_6, x7_2_7, x7_2_8, x7_2_9, x7_3_0, x7_3_1,
       x7_3_2, x7_3_3, x7_3_4, x7_3_5, x7_3_6, x7_3_7, x7_3_8, x7_3_9,
       x8_0_0, x8_0_1, x8_0_2, x8_0_3, x8_0_4, x8_0_5, x8_0_6, x8_0_7,
       x8_0_8, x8_0_9, x8_1_0, x8_1_1, x8_1_2, x8_1_3, x8_1_4, x8_1_5,
       x8_1_6, x8_1_7, x8_1_8, x8_1_9, x8_2_0, x8_2_1, x8_2_2, x8_2_3,
       x8_2_4, x8_2_5, x8_2_6, x8_2_7, x8_2_8, x8_2_9, x8_3_0, x8_3_1,
       x8_3_2, x8_3_3, x8_3_4, x8_3_5, x8_3_6, x8_3_7, x8_3_8, x8_3_9,
       x9_0_0, x9_0_1, x9_0_2, x9_0_3, x9_0_4, x9_0_5, x9_0_6, x9_0_7,
       x9_0_8, x9_0_9, x9_1_0, x9_1_1, x9_1_2, x9_1_3, x9_1_4, x9_1_5,
       x9_1_6, x9_1_7, x9_1_8, x9_1_9, x9_2_0, x9_2_1, x9_2_2, x9_2_3,
       x9_2_4, x9_2_5, x9_2_6, x9_2_7, x9_2_8, x9_2_9, x9_3_0, x9_3_1,
       x9_3_2, x9_3_3, x9_3_4, x9_3_5, x9_3_6, x9_3_7, x9_3_8, x9_3_9,
       x10_0_0, x10_0_1, x10_0_2, x10_0_3, x10_0_4, x10_0_5, x10_0_6,
       x10_0_7, x10_0_8, x10_0_9, x10_1_0, x10_1_1, x10_1_2, x10_1_3,
       x10_1_4, x10_1_5, x10_1_6, x10_1_7, x10_1_8, x10_1_9, x10_2_0,
       x10_2_1, x10_2_2, x10_2_3, x10_2_4, x10_2_5, x10_2_6, x10_2_7,
       x10_2_8, x10_2_9, x10_3_0, x10_3_1, x10_3_2, x10_3_3, x10_3_4,
       x10_3_5, x10_3_6, x10_3_7, x10_3_8, x10_3_9, x11_0_0, x11_0_1,
       x11_0_2, x11_0_3, x11_0_4, x11_0_5, x11_0_6, x11_0_7, x11_0_8,
       x11_0_9, x11_1_0, x11_1_1, x11_1_2, x11_1_3, x11_1_4, x11_1_5,
       x11_1_6, x11_1_7, x11_1_8, x11_1_9, x11_2_0, x11_2_1, x11_2_2,
       x11_2_3, x11_2_4, x11_2_5, x11_2_6, x11_2_7, x11_2_8, x11_2_9,
       x11_3_0, x11_3_1, x11_3_2, x11_3_3, x11_3_4, x11_3_5, x11_3_6,
       x11_3_7, x11_3_8, x11_3_9, x12_0_0, x12_0_1, x12_0_2, x12_0_3,
       x12_0_4, x12_0_5, x12_0_6, x12_0_7, x12_0_8, x12_0_9, x12_1_0,
       x12_1_1, x12_1_2, x12_1_3, x12_1_4, x12_1_5, x12_1_6, x12_1_7,
       x12_1_8, x12_1_9, x12_2_0, x12_2_1, x12_2_2, x12_2_3, x12_2_4,
       x12_2_5, x12_2_6, x12_2_7, x12_2_8, x12_2_9, x12_3_0, x12_3_1,
       x12_3_2, x12_3_3, x12_3_4, x12_3_5, x12_3_6, x12_3_7, x12_3_8,
       x12_3_9, x13_0_0, x13_0_1, x13_0_2, x13_0_3, x13_0_4, x13_0_5,
       x13_0_6, x13_0_7, x13_0_8, x13_0_9, x13_1_0, x13_1_1, x13_1_2,
       x13_1_3, x13_1_4, x13_1_5, x13_1_6, x13_1_7, x13_1_8, x13_1_9,
       x13_2_0, x13_2_1, x13_2_2, x13_2_3, x13_2_4, x13_2_5, x13_2_6,
       x13_2_7, x13_2_8, x13_2_9, x13_3_0, x13_3_1, x13_3_2, x13_3_3,
       x13_3_4, x13_3_5, x13_3_6, x13_3_7, x13_3_8, x13_3_9, x14_0_0,
       x14_0_1, x14_0_2, x14_0_3, x14_0_4, x14_0_5, x14_0_6, x14_0_7,
       x14_0_8, x14_0_9, x14_1_0, x14_1_1, x14_1_2, x14_1_3, x14_1_4,
       x14_1_5, x14_1_6, x14_1_7, x14_1_8, x14_1_9, x14_2_0, x14_2_1,
       x14_2_2, x14_2_3, x14_2_4, x14_2_5, x14_2_6, x14_2_7, x14_2_8,
       x14_2_9, x14_3_0, x14_3_1, x14_3_2, x14_3_3, x14_3_4, x14_3_5,
       x14_3_6, x14_3_7, x14_3_8, x14_3_9, x15_0_0, x15_0_1, x15_0_2,
       x15_0_3, x15_0_4, x15_0_5, x15_0_6, x15_0_7, x15_0_8, x15_0_9,
       x15_1_0, x15_1_1, x15_1_2, x15_1_3, x15_1_4, x15_1_5, x15_1_6,
       x15_1_7, x15_1_8, x15_1_9, x15_2_0, x15_2_1, x15_2_2, x15_2_3,
       x15_2_4, x15_2_5, x15_2_6, x15_2_7, x15_2_8, x15_2_9, x15_3_0,
       x15_3_1, x15_3_2, x15_3_3, x15_3_4, x15_3_5, x15_3_6, x15_3_7,
       x15_3_8, x15_3_9, x16_0_0, x16_0_1, x16_0_2, x16_0_3, x16_0_4,
       x16_0_5, x16_0_6, x16_0_7, x16_0_8, x16_0_9, x16_1_0, x16_1_1,
       x16_1_2, x16_1_3, x16_1_4, x16_1_5, x16_1_6, x16_1_7, x16_1_8,
       x16_1_9, x16_2_0, x16_2_1, x16_2_2, x16_2_3, x16_2_4, x16_2_5,
       x16_2_6, x16_2_7, x16_2_8, x16_2_9, x16_3_0, x16_3_1, x16_3_2,
       x16_3_3, x16_3_4, x16_3_5, x16_3_6, x16_3_7, x16_3_8, x16_3_9,
       x17_0_0, x17_0_1, x17_0_2, x17_0_3, x17_0_4, x17_0_5, x17_0_6,
       x17_0_7, x17_0_8, x17_0_9, x17_1_0, x17_1_1, x17_1_2, x17_1_3,
       x17_1_4, x17_1_5, x17_1_6, x17_1_7, x17_1_8, x17_1_9, x17_2_0,
       x17_2_1, x17_2_2, x17_2_3, x17_2_4, x17_2_5, x17_2_6, x17_2_7,
       x17_2_8, x17_2_9, x17_3_0, x17_3_1, x17_3_2, x17_3_3, x17_3_4,
       x17_3_5, x17_3_6, x17_3_7, x17_3_8, x17_3_9, x18_0_0, x18_0_1,
       x18_0_2, x18_0_3, x18_0_4, x18_0_5, x18_0_6, x18_0_7, x18_0_8,
       x18_0_9, x18_1_0, x18_1_1, x18_1_2, x18_1_3, x18_1_4, x18_1_5,
       x18_1_6, x18_1_7, x18_1_8, x18_1_9, x18_2_0, x18_2_1, x18_2_2,
       x18_2_3, x18_2_4, x18_2_5, x18_2_6, x18_2_7, x18_2_8, x18_2_9,
       x18_3_0, x18_3_1, x18_3_2, x18_3_3, x18_3_4, x18_3_5, x18_3_6,
       x18_3_7, x18_3_8, x18_3_9, x19_0_0, x19_0_1, x19_0_2, x19_0_3,
       x19_0_4, x19_0_5, x19_0_6, x19_0_7, x19_0_8, x19_0_9, x19_1_0,
       x19_1_1, x19_1_2, x19_1_3, x19_1_4, x19_1_5, x19_1_6, x19_1_7,
       x19_1_8, x19_1_9, x19_2_0, x19_2_1, x19_2_2, x19_2_3, x19_2_4,
       x19_2_5, x19_2_6, x19_2_7, x19_2_8, x19_2_9, x19_3_0, x19_3_1,
       x19_3_2, x19_3_3, x19_3_4, x19_3_5, x19_3_6, x19_3_7, x19_3_8,
       x19_3_9, x20_0_0, x20_0_1, x20_0_2, x20_0_3, x20_0_4, x20_0_5,
       x20_0_6, x20_0_7, x20_0_8, x20_0_9, x20_1_0, x20_1_1, x20_1_2,
       x20_1_3, x20_1_4, x20_1_5, x20_1_6, x20_1_7, x20_1_8, x20_1_9,
       x20_2_0, x20_2_1, x20_2_2, x20_2_3, x20_2_4, x20_2_5, x20_2_6,
       x20_2_7, x20_2_8, x20_2_9, x20_3_0, x20_3_1, x20_3_2, x20_3_3,
       x20_3_4, x20_3_5, x20_3_6, x20_3_7, x20_3_8, x20_3_9, x21_0_0,
       x21_0_1, x21_0_2, x21_0_3, x21_0_4, x21_0_5, x21_0_6, x21_0_7,
       x21_0_8, x21_0_9, x21_1_0, x21_1_1, x21_1_2, x21_1_3, x21_1_4,
       x21_1_5, x21_1_6, x21_1_7, x21_1_8, x21_1_9, x21_2_0, x21_2_1,
       x21_2_2, x21_2_3, x21_2_4, x21_2_5, x21_2_6, x21_2_7, x21_2_8,
       x21_2_9, x21_3_0, x21_3_1, x21_3_2, x21_3_3, x21_3_4, x21_3_5,
       x21_3_6, x21_3_7, x21_3_8, x21_3_9, x22_0_0, x22_0_1, x22_0_2,
       x22_0_3, x22_0_4, x22_0_5, x22_0_6, x22_0_7, x22_0_8, x22_0_9,
       x22_1_0, x22_1_1, x22_1_2, x22_1_3, x22_1_4, x22_1_5, x22_1_6,
       x22_1_7, x22_1_8, x22_1_9, x22_2_0, x22_2_1, x22_2_2, x22_2_3,
       x22_2_4, x22_2_5, x22_2_6, x22_2_7, x22_2_8, x22_2_9, x22_3_0,
       x22_3_1, x22_3_2, x22_3_3, x22_3_4, x22_3_5, x22_3_6, x22_3_7,
       x22_3_8, x22_3_9, x23_0_0, x23_0_1, x23_0_2, x23_0_3, x23_0_4,
       x23_0_5, x23_0_6, x23_0_7, x23_0_8, x23_0_9, x23_1_0, x23_1_1,
       x23_1_2, x23_1_3, x23_1_4, x23_1_5, x23_1_6, x23_1_7, x23_1_8,
       x23_1_9, x23_2_0, x23_2_1, x23_2_2, x23_2_3, x23_2_4, x23_2_5,
       x23_2_6, x23_2_7, x23_2_8, x23_2_9, x23_3_0, x23_3_1, x23_3_2,
       x23_3_3, x23_3_4, x23_3_5, x23_3_6, x23_3_7, x23_3_8, x23_3_9],
      dtype=object)

In [249]:
limit = int(procedure[procedure["product_id"] == product[3]]["limit"])

In [250]:
limit

3

In [ ]:
    #约束条件0.2 每一个shift的每一个project并行数量不超过工位上限
    for j in range(s_num):
        for k in range(n_num):
            a = np.zeros([m_num, s_num, n_num])
            for i in range(m_num):
                a[i,j,k] = 1
            #找出该product所属的project的工位上限
            limit = int(procedure[procedure["product_id"] == product[k]]["limit"])
            constraint_k = sum(a.flatten()*variables) <= limit
            constraints.append(constraint_k)

In [72]:
team

,team_id,member,product_id,project_id,output
0,200001,"[100007, 100017, 100018]","[500020, 500021, 500022]",400010,1200

In [56]:
worker_new

['100002',
 '100003',
 '100004',
 '100005',
 '100006',
 '100007',
 '100008',
 '100009',
 '100010',
 '100011',
 '100012',
 '100013',
 '100014',
 '100015',
 '100016',
 '100017',
 '100018',
 '100019',
 '100020',
 '100021',
 '100022',
 '100024',
 '100025']

In [57]:
worker_new[5] in team_mem

True

In [58]:
team_pro

['500008', '500009', '500010']

In [59]:
product.index(team_pro[0])

2

In [60]:
team_mem

['100004', '100007', '100011']

In [148]:
product

['500006',
 '500007',
 '500008',
 '500009',
 '500010',
 '500011',
 '500012',
 '500013']

In [149]:
order

,order_id,project_id,project_name,product_id,product_name,delivery_quantity,delivery_date,total_output,quantity,days,create_date,change_date,checked
0,800065,400004,舍弗勒,500006,舍弗勒塑料球子,16000,2019-09-22,0,12800,13,2019-09-05 17:53:14,2019-09-05 17:53:14,YES
1,800059,400005,安全阀,500010,检查,24000,2020-02-04,3725,16220,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO
2,800058,400006,金属片,500013,手动成形,39000,2019-12-16,0,31200,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
3,800065,400004,舍弗勒,500007,舍弗勒金属球子,16000,2019-09-22,2000,11200,13,2019-09-05 17:53:14,2019-09-05 17:53:14,YES
4,800058,400006,金属片,500011,剪切金属片,39000,2019-12-16,5000,27200,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
5,800059,400005,安全阀,500008,预放组件,24000,2020-02-04,4125,15900,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO
6,800058,400006,金属片,500012,压机成形,39000,2019-12-16,4887,27290,98,2019-08-20 18:53:54,2019-09-06 10:47:07,NO
7,800059,400005,安全阀,500009,推安全阀,24000,2020-02-04,4225,15820,148,2019-09-05 17:09:36,2019-09-05 18:07:50,NO

In [173]:
order['product_id'][order['project_id']=='400005']

1    500010
5    500008
7    500009
Name: product_id, dtype: object

In [156]:
eff

    worker_id project_id product_id        date  output
0      100002     400003     500004  0000-00-00     400
1      100002     400003     500005  0000-00-00   74.25
2      100002     400004     500006  0000-00-00  508.27
3      100002     400004     500007  0000-00-00  375.68
4      100002     400006     500012  0000-00-00  324.59
..        ...        ...        ...         ...     ...
358    100025     400012     500024  0000-00-00     180
359    100025     400013     500026  0000-00-00   140.1
360    100025     400017     500036  0000-00-00     400
361    100025     400007     500037  0000-00-00     400
362    100025     400012     500043  0000-00-00     100

[363 rows x 5 columns]

In [158]:
eff['worker_id'][eff['product_id']=='500008']

23     100003
40     100004
54     100005
75     100007
123    100010
150    100011
170    100013
188    100014
207    100015
253    100018
274    100019
299    100020
325    100022
Name: worker_id, dtype: object

In [159]:
eff['worker_id'][eff['product_id']=='500009']

41     100004
76     100007
189    100014
Name: worker_id, dtype: object

In [160]:
eff['worker_id'][eff['product_id']=='500010']

151    100011
190    100014
208    100015
300    100020
Name: worker_id, dtype: object

In [ ]:
100004,100007,100011

In [174]:
team

,team_id,member,product_id,project_id,output
0,200001,"[100004, 100007, 100011]","[500008, 500009, 500010]",400005,1200

In [183]:
data = {"assignment": {"100002": ["500007", "500012", "500013", "500007"], "100003": ["500012", "500008", "500012", "500006"], "100004": ["500007", "500009", "500010", "500012"], "100005": ["500007", "500012", "500010", "500009"], "100006": ["500009", "500012", "500007", "500011"], "100007": ["500013", "500011", "500009", "500012"], "100008": ["500013", "500013", "500008", "500013"], "100009": ["500008", "500012", "500012", "500009"], "100010": ["500010", "500010", "500013", "500009"], "100011": ["500013", "500009", "500009", "500008"], "100012": ["500013", "500012", "500013", "500008"], "100013": ["500006", "500009", "500011", "500010"], "100014": ["500008", "500007", "500010", "500007"], "100015": ["500009", "500011", "500007", "500009"], "100016": ["500010", "500007", "500009", "500013"], "100017": ["500008", "500008", "500008", "500008"], "100018": ["500007", "500006", "500009", "500010"], "100019": ["500007", "500009", "500010", "500006"], "100020": ["500009", "500009", "500009", "500009"], "100021": ["500010", "500013", "500008", "500007"], "100022": ["500011", "500006", "500008", "500012"], "100024": ["500010", "500006", "500006", "500010"], "100025": ["500010", "500010", "500010", "500010"]}, "estimated output": {"500006": 6223.66, "500007": 10604.519999999999, "500008": 3773.18, "500009": 4894.4400000000005, "500010": 3827.16, "500011": 3600.0, "500012": 6756.18, "500013": 1262.96}, "total shifts": 92.0, "working load": 100.0, "estimated duration": {"800065": 3, "800059": 5, "800058": 25}}

In [184]:
data

{'assignment': {'100002': ['500007', '500012', '500013', '500007'],
  '100003': ['500012', '500008', '500012', '500006'],
  '100004': ['500007', '500009', '500010', '500012'],
  '100005': ['500007', '500012', '500010', '500009'],
  '100006': ['500009', '500012', '500007', '500011'],
  '100007': ['500013', '500011', '500009', '500012'],
  '100008': ['500013', '500013', '500008', '500013'],
  '100009': ['500008', '500012', '500012', '500009'],
  '100010': ['500010', '500010', '500013', '500009'],
  '100011': ['500013', '500009', '500009', '500008'],
  '100012': ['500013', '500012', '500013', '500008'],
  '100013': ['500006', '500009', '500011', '500010'],
  '100014': ['500008', '500007', '500010', '500007'],
  '100015': ['500009', '500011', '500007', '500009'],
  '100016': ['500010', '500007', '500009', '500013'],
  '100017': ['500008', '500008', '500008', '500008'],
  '100018': ['500007', '500006', '500009', '500010'],
  '100019': ['500007', '500009', '500010', '500006'],
  '100020': ['500009', '500009', '500009', '500009'],
  '100021': ['500010', '500013', '500008', '500007'],
  '100022': ['500011', '500006', '500008', '500012'],
  '100024': ['500010', '500006', '500006', '500010'],
  '100025': ['500010', '500010', '500010', '500010']},
 'estimated output': {'500006': 6223.66,
  '500007': 10604.519999999999,
  '500008': 3773.18,
  '500009': 4894.4400000000005,
  '500010': 3827.16,
  '500011': 3600.0,
  '500012': 6756.18,
  '500013': 1262.96},
 'total shifts': 92.0,
 'working load': 100.0,
 'estimated duration': {'800065': 3, '800059': 5, '800058': 25}}

In [187]:
i_all = []
k_all = []
for i in range(0, len(team_mem)):
    i_index = worker_new.index(team_mem[i])
    k_index = product.index(team_pro[i])
    i_all.append(i_index)
    k_all.append(k_index)

In [188]:
i_all

[2, 5, 9]

In [189]:
k_all

[2, 3, 4]

In [191]:
product

['500006',
 '500007',
 '500008',
 '500009',
 '500010',
 '500011',
 '500012',
 '500013']

In [192]:
{"assignment": {"100002": ["500007", "500012", "500013", "500007"], "100003": ["500012", "500008", "500012", "500006"], "100004": ["500007", "500009", "500010", "500012"], "100005": ["500007", "500012", "500010", "500009"], "100006": ["500009", "500012", "500007", "500011"], "100007": ["500013", "500011", "500009", "500012"], "100008": ["500013", "500013", "500008", "500013"], "100009": ["500008", "500012", "500012", "500009"], "100010": ["500010", "500010", "500013", "500009"], "100011": ["500013", "500009", "500009", "500008"], "100012": ["500013", "500012", "500013", "500008"], "100013": ["500006", "500009", "500011", "500010"], "100014": ["500008", "500007", "500010", "500007"], "100015": ["500009", "500011", "500007", "500009"], "100016": ["500010", "500007", "500009", "500013"], "100017": ["500008", "500008", "500008", "500008"], "100018": ["500007", "500006", "500009", "500010"], "100019": ["500007", "500009", "500010", "500006"], "100020": ["500009", "500009", "500009", "500009"], "100021": ["500010", "500013", "500008", "500007"], "100022": ["500011", "500006", "500008", "500012"], "100024": ["500010", "500006", "500006", "500010"], "100025": ["500010", "500010", "500010", "500010"]}, "estimated output": {"500006": 6223.66, "500007": 10604.519999999999, "500008": 3773.18, "500009": 4894.4400000000005, "500010": 3827.16, "500011": 3600.0, "500012": 6756.18, "500013": 1262.96}, "total shifts": 92.0, "working load": 100.0, "estimated duration": {"800065": 3, "800059": 5, "800058": 25}}

{'assignment': {'100002': ['500007', '500012', '500013', '500007'],
  '100003': ['500012', '500008', '500012', '500006'],
  '100004': ['500007', '500009', '500010', '500012'],
  '100005': ['500007', '500012', '500010', '500009'],
  '100006': ['500009', '500012', '500007', '500011'],
  '100007': ['500013', '500011', '500009', '500012'],
  '100008': ['500013', '500013', '500008', '500013'],
  '100009': ['500008', '500012', '500012', '500009'],
  '100010': ['500010', '500010', '500013', '500009'],
  '100011': ['500013', '500009', '500009', '500008'],
  '100012': ['500013', '500012', '500013', '500008'],
  '100013': ['500006', '500009', '500011', '500010'],
  '100014': ['500008', '500007', '500010', '500007'],
  '100015': ['500009', '500011', '500007', '500009'],
  '100016': ['500010', '500007', '500009', '500013'],
  '100017': ['500008', '500008', '500008', '500008'],
  '100018': ['500007', '500006', '500009', '500010'],
  '100019': ['500007', '500009', '500010', '500006'],
  '100020': ['500009', '500009', '500009', '500009'],
  '100021': ['500010', '500013', '500008', '500007'],
  '100022': ['500011', '500006', '500008', '500012'],
  '100024': ['500010', '500006', '500006', '500010'],
  '100025': ['500010', '500010', '500010', '500010']},
 'estimated output': {'500006': 6223.66,
  '500007': 10604.519999999999,
  '500008': 3773.18,
  '500009': 4894.4400000000005,
  '500010': 3827.16,
  '500011': 3600.0,
  '500012': 6756.18,
  '500013': 1262.96},
 'total shifts': 92.0,
 'working load': 100.0,
 'estimated duration': {'800065': 3, '800059': 5, '800058': 25}}

In [193]:
{"assignment": {"100002": ["500007", "500012", "500013", "500007"], "100003": ["500012", "500008", "500012", "500006"], "100004": ["500007", "500009", "500010", "500012"], "100005": ["500007", "500012", "500010", "500009"], "100006": ["500009", "500012", "500007", "500011"], "100007": ["500013", "500011", "500009", "500012"], "100008": ["500013", "500013", "500008", "500013"], "100009": ["500008", "500012", "500012", "500009"], "100010": ["500010", "500010", "500013", "500009"], "100011": ["500013", "500009", "500009", "500008"], "100012": ["500013", "500012", "500013", "500008"], "100013": ["500006", "500009", "500011", "500010"], "100014": ["500008", "500007", "500010", "500007"], "100015": ["500009", "500011", "500007", "500009"], "100016": ["500010", "500007", "500009", "500013"], "100017": ["500008", "500008", "500008", "500008"], "100018": ["500007", "500006", "500009", "500010"], "100019": ["500007", "500009", "500010", "500006"], "100020": ["500009", "500009", "500009", "500009"], "100021": ["500010", "500013", "500008", "500007"], "100022": ["500011", "500006", "500008", "500012"], "100024": ["500010", "500006", "500006", "500010"], "100025": ["500010", "500010", "500010", "500010"]}, "estimated output": {"500006": 6223.66, "500007": 10604.519999999999, "500008": 3773.18, "500009": 4894.4400000000005, "500010": 3827.16, "500011": 3600.0, "500012": 6756.18, "500013": 1262.96}, "total shifts": 92.0, "working load": 100.0, "estimated duration": {"800065": 3, "800059": 5, "800058": 25}}

{'assignment': {'100002': ['500007', '500012', '500013', '500007'],
  '100003': ['500012', '500008', '500012', '500006'],
  '100004': ['500007', '500009', '500010', '500012'],
  '100005': ['500007', '500012', '500010', '500009'],
  '100006': ['500009', '500012', '500007', '500011'],
  '100007': ['500013', '500011', '500009', '500012'],
  '100008': ['500013', '500013', '500008', '500013'],
  '100009': ['500008', '500012', '500012', '500009'],
  '100010': ['500010', '500010', '500013', '500009'],
  '100011': ['500013', '500009', '500009', '500008'],
  '100012': ['500013', '500012', '500013', '500008'],
  '100013': ['500006', '500009', '500011', '500010'],
  '100014': ['500008', '500007', '500010', '500007'],
  '100015': ['500009', '500011', '500007', '500009'],
  '100016': ['500010', '500007', '500009', '500013'],
  '100017': ['500008', '500008', '500008', '500008'],
  '100018': ['500007', '500006', '500009', '500010'],
  '100019': ['500007', '500009', '500010', '500006'],
  '100020': ['500009', '500009', '500009', '500009'],
  '100021': ['500010', '500013', '500008', '500007'],
  '100022': ['500011', '500006', '500008', '500012'],
  '100024': ['500010', '500006', '500006', '500010'],
  '100025': ['500010', '500010', '500010', '500010']},
 'estimated output': {'500006': 6223.66,
  '500007': 10604.519999999999,
  '500008': 3773.18,
  '500009': 4894.4400000000005,
  '500010': 3827.16,
  '500011': 3600.0,
  '500012': 6756.18,
  '500013': 1262.96},
 'total shifts': 92.0,
 'working load': 100.0,
 'estimated duration': {'800065': 3, '800059': 5, '800058': 25}}

In [ ]:
100017 100020 100025

In [1]:
import numpy as np

In [62]:
np.array(worker)

array(['100002', '100003', '100004', '100005', '100006', '100007',
       '100008', '100009', '100010', '100011', '100012', '100013',
       '100014', '100015', '100016', '100017', '100018', '100019',
       '100020', '100021', '100022', '100023', '100024', '100025'],
      dtype='<U6')

In [65]:
index = np.argwhere(np.array(worker) == worker[12seq = np.arange(index*s_num*n_num,(index+1)*s_num*n_num)]).tolist()[0][0]

In [66]:
index

12

In [67]:
seq = np.arange(index*s_num*n_num,(index+1)*s_num*n_num)

In [68]:
seq

array([384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396,
       397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409,
       410, 411, 412, 413, 414, 415])

In [70]:
work_efficiency_new

NameError: name 'work_efficiency_new' is not defined

In [71]:
worker_efficiency_new

array([[ 508.27,  375.68,    0.  ,    0.  ,    0.  ,    0.  ,  324.59,
           0.  ],
       [ 300.  ,  411.12,  200.  ,    0.  ,    0.  ,    0.  ,  189.6 ,
         184.71],
       [ 407.48,  598.87,  300.  ,  418.87,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 464.11,  400.  ,  300.  ,    0.  ,    0.  , 1600.  ,  400.  ,
         256.  ],
       [ 400.  ,  400.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 426.  ,  254.64,  200.  ,  508.8 ,    0.  ,    0.  ,  305.94,
         293.48],
       [ 364.13,  342.65,    0.  ,    0.  ,    0.  , 1600.  ,  342.  ,
         104.53],
       [ 460.62,  420.08,    0.  ,    0.  ,    0.  ,    0.  ,  340.95,
           0.  ],
       [ 500.  ,  541.29,  247.5 ,    0.  ,    0.  , 1800.  ,  600.  ,
         645.25],
       [ 500.  ,  624.15,  250.  ,    0.  ,  398.87,    0.  ,  600.  ,
         283.63],
       [ 487.1 ,  467.67,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 420.78,  382.04,  200.  ,    0.  ,    0.  ,    0.  ,  371.4 ,
           0.  ],
       [ 568.12,  518.66,  200.  ,  412.02,  318.1 ,    0.  ,  400.  ,
         195.46],
       [ 600.  ,  600.  ,  300.  ,    0.  ,  338.36, 1800.  ,  584.5 ,
         515.37],
       [ 463.97,  405.92,    0.  ,    0.  ,    0.  ,    0.  ,  356.65,
           0.  ],
       [ 702.76,  850.3 ,    0.  ,    0.  ,    0.  ,    0.  ,  785.61,
           0.  ],
       [ 645.6 ,  400.  ,  200.  ,    0.  ,    0.  , 1500.  ,  500.  ,
         319.47],
       [ 600.  ,  500.  ,  250.  ,    0.  ,    0.  , 1800.  ,  310.06,
         359.88],
       [ 500.  ,  648.45,  286.59,    0.  ,  222.9 ,    0.  ,  500.  ,
         167.07],
       [ 230.11,  292.07,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 492.11,  426.2 ,  200.  ,    0.  ,    0.  , 1600.  ,  333.37,
         892.5 ],
       [ 512.1 ,  555.15,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
         189.46],
       [ 500.  ,  500.  ,    0.  ,    0.  ,    0.  ,    0.  ,  576.68,
           0.  ]])

In [73]:
efficiency

          0       1       2           3       4
0    100002  400003  500004  0000-00-00     400
1    100002  400003  500005  0000-00-00   74.25
2    100002  400004  500006  0000-00-00  508.27
3    100002  400004  500007  0000-00-00  375.68
4    100002  400006  500012  0000-00-00  324.59
..      ...     ...     ...         ...     ...
358  100025  400012  500024  0000-00-00     180
359  100025  400013  500026  0000-00-00   140.1
360  100025  400017  500036  0000-00-00     400
361  100025  400007  500037  0000-00-00     400
362  100025  400012  500043  0000-00-00     100

[363 rows x 5 columns]

In [76]:
worker[9]

'100011'

In [77]:
{"assignment": {"100002": ["500006", "500006", "500006", "500006"], "100003": ["500007", "500006", "500006", "500006"], "100004": ["500012", "500012", "500012", "500012"], "100005": ["500006", "500006", "500006", "500006"], "100006": ["500011", "500011", "500011", "500011"], "100007": ["500006", "500012", "500012", "500012"], "100008": ["500012", "500012", "500012", "500012"], "100009": ["500006", "500006", "500006", "500006"], "100010": ["500011", "500011", "500011", "500011"], "100011": ["500008", "500007", "500007", "500007"], "100012": ["500007", "500007", "500007", "500007"], "100013": ["500007", "500007", "500007", "500007"], "100014": ["500013", "500013", "500013", "500013"], "100015": ["500007", "500007", "500007", "500007"], "100016": ["500012", "500012", "500012", "500012"], "100017": ["500008", "500008", "500008", "500008"], "100018": ["500011", "500011", "500011", "500011"], "100019": ["500007", "500007", "500007", "500007"], "100020": ["500009", "500009", "500009", "500009"], "100021": ["500011", "500011", "500011", "500011"], "100022": ["500006", "500006", "500006", "500006"], "100024": ["500011", "500011", "500011", "500011"], "100025": ["500010", "500010", "500010", "500010"]}, "estimated output": {"500006": 21311.420000000002, "500007": 18092.76, "500008": 2973.18, "500009": 4070.4, "500010": 3190.96, "500011": 68800.0, "500012": 16009.419999999998, "500013": 7140.0}, "total shifts": 92.0, "working load": 100.0, "estimated duration": {"800065": 1, "800059": 6, "800058": 5}}

{'assignment': {'100002': ['500006', '500006', '500006', '500006'],
  '100003': ['500007', '500006', '500006', '500006'],
  '100004': ['500012', '500012', '500012', '500012'],
  '100005': ['500006', '500006', '500006', '500006'],
  '100006': ['500011', '500011', '500011', '500011'],
  '100007': ['500006', '500012', '500012', '500012'],
  '100008': ['500012', '500012', '500012', '500012'],
  '100009': ['500006', '500006', '500006', '500006'],
  '100010': ['500011', '500011', '500011', '500011'],
  '100011': ['500008', '500007', '500007', '500007'],
  '100012': ['500007', '500007', '500007', '500007'],
  '100013': ['500007', '500007', '500007', '500007'],
  '100014': ['500013', '500013', '500013', '500013'],
  '100015': ['500007', '500007', '500007', '500007'],
  '100016': ['500012', '500012', '500012', '500012'],
  '100017': ['500008', '500008', '500008', '500008'],
  '100018': ['500011', '500011', '500011', '500011'],
  '100019': ['500007', '500007', '500007', '500007'],
  '100020': ['500009', '500009', '500009', '500009'],
  '100021': ['500011', '500011', '500011', '500011'],
  '100022': ['500006', '500006', '500006', '500006'],
  '100024': ['500011', '500011', '500011', '500011'],
  '100025': ['500010', '500010', '500010', '500010']},
 'estimated output': {'500006': 21311.420000000002,
  '500007': 18092.76,
  '500008': 2973.18,
  '500009': 4070.4,
  '500010': 3190.96,
  '500011': 68800.0,
  '500012': 16009.419999999998,
  '500013': 7140.0},
 'total shifts': 92.0,
 'working load': 100.0,
 'estimated duration': {'800065': 1, '800059': 6, '800058': 5}}

In [78]:
worker

['100002',
 '100003',
 '100004',
 '100005',
 '100006',
 '100007',
 '100008',
 '100009',
 '100010',
 '100011',
 '100012',
 '100013',
 '100014',
 '100015',
 '100016',
 '100017',
 '100018',
 '100019',
 '100020',
 '100021',
 '100022',
 '100023',
 '100024',
 '100025']

In [90]:
eff[eff['worker_id']=='100004']

   worker_id project_id product_id        date  output
36    100004     400002     500002  0000-00-00   935.9
37    100004     400003     500005  0000-00-00   80.45
38    100004     400004     500006  0000-00-00  407.48
39    100004     400004     500007  0000-00-00  598.87
40    100004     400005     500008  0000-00-00     300
41    100004     400005     500009  0000-00-00  418.87
42    100004     400007     500016  0000-00-00     250
43    100004     400008     500017  0000-00-00  256.69
44    100004     400012     500025  0000-00-00     144
45    100004     400014     500028  0000-00-00     300
46    100004     400016     500032  0000-00-00     300
47    100004     400017     500036  0000-00-00   398.7
48    100004     400007     500037  0000-00-00  506.62
49    100004     400012     500042  0000-00-00      80

In [85]:
worker_efficiency_new

array([[ 508.27,  375.68,    0.  ,    0.  ,    0.  ,    0.  ,  324.59,
           0.  ],
       [ 300.  ,  411.12,  200.  ,    0.  ,    0.  ,    0.  ,  189.6 ,
         184.71],
       [ 407.48,  598.87,  300.  ,  418.87,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 464.11,  400.  ,  300.  ,    0.  ,    0.  , 1600.  ,  400.  ,
         256.  ],
       [ 400.  ,  400.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 426.  ,  254.64,  200.  ,  508.8 ,    0.  ,    0.  ,  305.94,
         293.48],
       [ 364.13,  342.65,    0.  ,    0.  ,    0.  , 1600.  ,  342.  ,
         104.53],
       [ 460.62,  420.08,    0.  ,    0.  ,    0.  ,    0.  ,  340.95,
           0.  ],
       [ 500.  ,  541.29,  247.5 ,    0.  ,    0.  , 1800.  ,  600.  ,
         645.25],
       [ 500.  ,  624.15,  250.  ,    0.  ,  398.87,    0.  ,  600.  ,
         283.63],
       [ 487.1 ,  467.67,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 420.78,  382.04,  200.  ,    0.  ,    0.  ,    0.  ,  371.4 ,
           0.  ],
       [ 568.12,  518.66,  200.  ,  412.02,  318.1 ,    0.  ,  400.  ,
         195.46],
       [ 600.  ,  600.  ,  300.  ,    0.  ,  338.36, 1800.  ,  584.5 ,
         515.37],
       [ 463.97,  405.92,    0.  ,    0.  ,    0.  ,    0.  ,  356.65,
           0.  ],
       [ 702.76,  850.3 ,    0.  ,    0.  ,    0.  ,    0.  ,  785.61,
           0.  ],
       [ 645.6 ,  400.  ,  200.  ,    0.  ,    0.  , 1500.  ,  500.  ,
         319.47],
       [ 600.  ,  500.  ,  250.  ,    0.  ,    0.  , 1800.  ,  310.06,
         359.88],
       [ 500.  ,  648.45,  286.59,    0.  ,  222.9 ,    0.  ,  500.  ,
         167.07],
       [ 230.11,  292.07,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
           0.  ],
       [ 492.11,  426.2 ,  200.  ,    0.  ,    0.  , 1600.  ,  333.37,
         892.5 ],
       [ 512.1 ,  555.15,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
         189.46],
       [ 500.  ,  500.  ,    0.  ,    0.  ,    0.  ,    0.  ,  576.68,
           0.  ]])

In [91]:
{"assignment": {"100002": ["500006", "500006", "500006", "500006"], "100003": ["500007", "500006", "500006", "500006"], "100004": ["500012", "500012", "500012", "500012"], "100005": ["500006", "500006", "500006", "500006"], "100006": ["500011", "500011", "500011", "500011"], "100007": ["500006", "500012", "500012", "500012"], "100008": ["500012", "500012", "500012", "500012"], "100009": ["500006", "500006", "500006", "500006"], "100010": ["500011", "500011", "500011", "500011"], "100011": ["500008", "500007", "500007", "500007"], "100012": ["500007", "500007", "500007", "500007"], "100013": ["500007", "500007", "500007", "500007"], "100014": ["500013", "500013", "500013", "500013"], "100015": ["500007", "500007", "500007", "500007"], "100016": ["500012", "500012", "500012", "500012"], "100017": ["500008", "500008", "500008", "500008"], "100018": ["500011", "500011", "500011", "500011"], "100019": ["500007", "500007", "500007", "500007"], "100020": ["500009", "500009", "500009", "500009"], "100021": ["500011", "500011", "500011", "500011"], "100022": ["500006", "500006", "500006", "500006"], "100024": ["500011", "500011", "500011", "500011"], "100025": ["500010", "500010", "500010", "500010"]}, "estimated output": {"500006": 21311.420000000002, "500007": 18092.76, "500008": 2973.18, "500009": 4070.4, "500010": 3190.96, "500011": 68800.0, "500012": 16009.419999999998, "500013": 7140.0}, "total shifts": 92.0, "working load": 100.0, "estimated duration": {"800065": 1, "800059": 6, "800058": 5}}

{'assignment': {'100002': ['500006', '500006', '500006', '500006'],
  '100003': ['500007', '500006', '500006', '500006'],
  '100004': ['500012', '500012', '500012', '500012'],
  '100005': ['500006', '500006', '500006', '500006'],
  '100006': ['500011', '500011', '500011', '500011'],
  '100007': ['500006', '500012', '500012', '500012'],
  '100008': ['500012', '500012', '500012', '500012'],
  '100009': ['500006', '500006', '500006', '500006'],
  '100010': ['500011', '500011', '500011', '500011'],
  '100011': ['500008', '500007', '500007', '500007'],
  '100012': ['500007', '500007', '500007', '500007'],
  '100013': ['500007', '500007', '500007', '500007'],
  '100014': ['500013', '500013', '500013', '500013'],
  '100015': ['500007', '500007', '500007', '500007'],
  '100016': ['500012', '500012', '500012', '500012'],
  '100017': ['500008', '500008', '500008', '500008'],
  '100018': ['500011', '500011', '500011', '500011'],
  '100019': ['500007', '500007', '500007', '500007'],
  '100020': ['500009', '500009', '500009', '500009'],
  '100021': ['500011', '500011', '500011', '500011'],
  '100022': ['500006', '500006', '500006', '500006'],
  '100024': ['500011', '500011', '500011', '500011'],
  '100025': ['500010', '500010', '500010', '500010']},
 'estimated output': {'500006': 21311.420000000002,
  '500007': 18092.76,
  '500008': 2973.18,
  '500009': 4070.4,
  '500010': 3190.96,
  '500011': 68800.0,
  '500012': 16009.419999999998,
  '500013': 7140.0},
 'total shifts': 92.0,
 'working load': 100.0,
 'estimated duration': {'800065': 1, '800059': 6, '800058': 5}}

In [94]:
worker_new

['100002',
 '100003',
 '100004',
 '100005',
 '100006',
 '100007',
 '100008',
 '100009',
 '100010',
 '100011',
 '100012',
 '100013',
 '100014',
 '100015',
 '100016',
 '100017',
 '100018',
 '100019',
 '100020',
 '100021',
 '100022',
 '100024',
 '100025']

In [96]:
len(worker_efficiency_new)

23

In [97]:
team

,team_id,member,product_id,project_id,output
0,200001,"[100004, 100007, 100011]","[500008, 500009, 500010]",400005,1200

In [98]:
product

['500006',
 '500007',
 '500008',
 '500009',
 '500010',
 '500011',
 '500012',
 '500013']

In [119]:
for index in team.index:
    item = team.loc[index]
    mem = item['member']
    print(mem)

100004,100007,100011

In [121]:
team_worker_eff = worker_efficiency_new
for index in team.index:
    item = team.loc[index]
    mem = item['member']
    pro = item['product_id']
    eff_new = item['output']
    for i in range(len(mem)):
        mem_index = worker_new.index(mem[i])
        pro_index = product.index(pro[i])
        team_worker_eff[mem_index][pro_index] = eff_new

In [ ]:
def eff_transform(worker_efficiency, worker, product):